@import url('https://fonts.googleapis.com/css2?family=Lakki+Reddy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

header {
    background-color: #000;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    padding: 2%;
    padding-top: 4%;
    font-family: "Lakki Reddy", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1em;
    display: inline-block;
    font-size: calc(3vw + 1rem);
}

header button {
    background-color: transparent;
    color: #fff;
    padding: 0.5rem;
    margin-right: 1rem;
    font-size: 1rem;
    border: 1px solid #fff;
    border-radius: 24px;
}


.infoPartida {
    background-color: #aaa;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.infoPartida div {
    min-width: 200px;
    padding: 1rem;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
}

.infoPartida button {
    padding: 0.5rem;
    font-size: 1.3rem;
    border-radius: 24px;
}

.cajaPrincipal {
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#codigo {
    padding: 2rem;
    font-size: 1.3rem;
    font-weight: bold;
}

/* Modificar el diseño del código de color */
/* #codigo {
    display: flex;
    flex-direction: column;
} */

#codigo span {
    margin-bottom: 5px;
}

/* Estilo para cada valor de color */
#codigo span:nth-child(odd) {
    font-weight: bold; /* Hacer que las etiquetas de color sean negritas */
    margin-right: 5px; /* Espacio entre la etiqueta y el número */
}

/* Estilo para cada número de color */
#codigo span:nth-child(even) {
    font-weight: normal; /* Hacer que los números de color no estén en negrita */
}


#muestra {
    width: 200px;
    height: 200px;
    border-color: #000;
    border-radius: 50%;
    border: 2px solid;
    background-color: #aaa;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cajaOpciones {
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.cajaOpciones div {
    width: 120px;
    height: 120px;
    margin: 1rem;
    border-color: #aaa;
    border-radius: 50%;
    border: 2px solid;
    background-color: #aaa;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popUpInicial {
  display: flex; 
  justify-content: center;
  align-content: center;
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  background-color: rgba(0,0,0,0.6);
  overflow: auto; 
}

.contenidoPopUp {
  position: relative;
  background-color: #fefefe;
  padding: 50px;
  border: 2px solid black;
  border-radius: 40px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  text-align: center; 
  margin: 170px;
}

#botonJuguemos {
    background-color: white; 
    color: black; 
    font-size: 20px; 
    font-weight: bold;
    border: dashed 2px transparent;
    border-radius: 15px; 
    cursor: pointer;     
    transition: font-size 0.3s;
    height: 20px;
    margin-top: 20px;
}

#botonJuguemos:hover {
    font-family: "Lakki Reddy", serif;
    font-size: 25px;
    border: none;
    height: 20px;
    margin-top: 20px;
}

.menu {
    display: flex;
}

.menuHamburguesa {
    display: none;
}

@media screen and (max-width: 800px) {
    .menuHamburguesa {
        display: block; /* El botón de hamburguesa se muestra en pantallas más pequeñas */
    }

    .menu {
        display: none; /* El menú se oculta en pantallas más pequeñas */
    }
}

@media screen and (max-width: 799px) {
    .menuHambur

