* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #000;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin-left: 1rem;
}

header button {
    background-color: transparent;
    color: #fff;
    padding: 0.5rem;
    margin-right: 1rem;
    font-size: 1rem;
    border: 1px solid #fff;
    border-radius: 24px;

}

.infoPartida {
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.infoPartida div {
    min-width: 200px;
    padding: 1rem;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
}

.infoPartida button {
    padding: 0.5rem;
    font-size: 1.3rem;
    border-radius: 24px;
}

.cajaPrincipal {
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#codigo {
    padding: 2rem;
    font-size: 1.3rem;
    font-weight: bold;
}

#muestra {
    width: 200px;
    height: 200px;
    border-color: #000;
    border-radius: 50%;
    border: 2px solid;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cajaOpciones {
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.cajaOpciones div {
    width: 120px;
    height: 120px;
    margin: 1rem;
    border-color: #000;
    border-radius: 50%;
    border: 2px solid;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}