@import url('https://fonts.googleapis.com/css2?family=Lakki+Reddy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-areas:
    "header"
    "main";
  grid-template-rows: 20vh 1fr;
}

header {
  padding: 50px;
  background-color: black;
  text-align: center;
}

h1 {
  color: white;
  font-family: "Lakki Reddy", serif;
  font-weight: 400;
}

.contador {
  display: flex;
  flex-wrap: wrap;
}

aside {
  flex: 50%;
  padding: 20px;
}

section {
  flex: 50%;
  padding: 20px;
}

@media screen and (max-width:500px){}

/* h2 {
  color:white;
  margin: 2px;
  padding: 5px;
  font-family: "Open Sans", sans-serif;
  font-size: larger;
} */

/* No sé cómo hacer para que el h3 esté más pegado a las instrucciones
h3 { 
  color: black;
  margin: 2px;
  padding: 30px;
  font-family: "Open Sans", sans-serif;
} */


/* p {
  color: black;
  margin: 2px;
  padding: 5px;
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
} */


main {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  grid-area: main;
}

/* Según Luis lo ideal y más fácil es hacer un pop-up de instrucciones antes de empezar a jugar.
    Luego se podría añadir un botón que te recupere ese pop-up. */
/* #franjaInstrucciones {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
} */


/* Las vidas se representarán con corazones con relleno. Una vez se eliminen aparecen sin relleno, solo trazo. */
#vidas

section{
  display: flex;
  justify-content: center;
  align-items: center;
}


#cajaPrincipal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  background-color: rgb(red, green, blue);
  border: 1px solid;
  border-radius: 50%;
  margin: 2rem;
  color: white;
}

#colorAleatorio {
  margin: 1rem;
}

/* Los círculos con la gama de tonalidades que vayan abajo en la pantalla,
con un trazo muy muy fino y con algo de sombra para diferenciarse del fondo */
#contenedorDeCajas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1rem;
  justify-content: space-between;
}

.caja {
  display: flex;
  width: 100px;
  height: 100px;
  background-color: rgb(red, green, blue);
  border: 1px solid;
  color: white;
  border-radius: 50%;
  margin: 0.5rem;
}
