@import url('https://fonts.googleapis.com/css2?family=Lakki+Reddy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

header {
    background-color: #000;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    padding: 2%;
    padding-top: 4%;
    font-family: "Lakki Reddy", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1em;
    display: inline-block;
    font-size: calc(3vw + 1rem);
}

header button {
    background-color: transparent;
    color: #fff;
    padding: 0.5rem;
    margin-right: 1rem;
    font-size: 1rem;
    border: 1px solid #fff;
    border-radius: 24px;
}

.infoPartida {
    background-color: #aaa;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.infoPartida div {
    min-width: 200px;
    padding: 1rem;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
}

.infoPartida button {
    padding: 0.5rem;
    font-size: 1.3rem;
    border-radius: 24px;
}

.cajaPrincipal {
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#codigo {
    padding: 2rem;
    font-size: 1.3rem;
    font-weight: bold;
}

#muestra {
    width: 200px;
    height: 200px;
    border-color: #000;
    border-radius: 50%;
    border: 2px solid;
    background-color: #aaa;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cajaOpciones {
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.cajaOpciones div {
    width: 120px;
    height: 120px;
    margin: 1rem;
    border-color: #aaa;
    border-radius: 50%;
    border: 2px solid;
    background-color: #aaa;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
  display: flex; 
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  background-color: rgba(0,0,0,0.6);
  overflow: auto; 
}

.modal-content {
  display: flex; 
  justify-content: center;
  position: relative;
  background-color: #fefefe;
  padding: 60px;
  padding-top: 70px;
  border: 2px solid black;
  border-radius: 40px;
  width: 80%;
  font-weight: bold;
}

.close {
  position: absolute; 
  top: 10mm; 
  right: 20mm;
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

